/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: Fancy;
  src: local(Afterglow-Regular.ttf);
}

@font-face {
  font-family: Basic;
  src: local(Helvetica);
}

body {
  background-color: #606C38;
  color: #FEFAE0;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

img{
  max-width: 100%;
  max-height: 100%;
}
.header{
  width: 100%;
  height: 40px;
  display: block;
  background-color: #283618;
}

.inner_header{
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.navigation{
  float: right;
  height: 100%;
}

.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a:last-child{
  padding-right: 0;
}

.navigation a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #FEFAE0;
  font-family: My-Font;
  font-size: 16px;
}

.parent {
  display: flex;
  padding: 10px;
}

.child {
  display: inline-block;
  vertical-align: middle;
  display: block;
  width: 33%;
  background-color: #283618;
}
  .child h1{
    padding: 10px;
    color: #FEFAE0;
  }

  .child p{
    padding: 10px;
    color: #FEFAE0;
    font-family: Basic;
  }

  .child img{
    padding: 10px;
  }

.child-alt{
  display: inline-block;
  vertical-align: middle;
  display: block;
  width: 33%;
  background-color: #606C38;
}
  .child-alt h1{
    padding: 10px;
    color: #283618;
  }

  .child-alt p{
    padding: 10px;
    color: #283618;
    font-family: Basic;
  }

  .child-alt img{
    padding: 10px;
  }

.child-alt-alt{
  display: inline-block;
  vertical-align: middle;
  display: block;
  width: 33%;
  background-color: #283618;
}
  .child-alt-alt h1{
    padding: 10px;
    color: #FEFAE0;
  }

  .child-alt-alt p{
    padding: 10px;
    color: #FEFAE0;
    font-family: Basic;
  }

  .child-alt-alt img{
    padding: 10px;
  }

.title-container{
  padding: 50px;
  text-align: center;
}
.title-container h1{
  font-weight: 100;
}
.title-container h1 span{
  font-family: Helvetica;
  font-weight: 300;
}
